:root {
  --blue: #0096c7;
  --bg: #0a0a0a;
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

/*  Hero Content Justify */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*   Hero Title & Subtitle Styles */
.hero h3 {
  margin-top: 100px;
  font-size: 6rem;
}

.hero h2,
.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--blue);
  background-color: white;
  margin-top: 4;
}

.hero a:hover {
  background-color: var(--blue);
  color: white;
}

.mynavbar {
  backdrop-filter: blur(4px);
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Work Sans";
  font-weight: bold;
}

.addcontent,
.pub,
.perb,
.rating {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.addcontent h2,
.pub h2,
.perb h2,
.rating h2 {
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  padding: 3rem;
  background-color: var(--bg);
  color: white;
}

footer a {
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

/* media query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .report {
    gap: 3.5rem;
    margin-bottom: -70px;
  }

  .chart1,
  .chart2,
  .chart3,
  .chart4,
  .chart5 {
    width: 100%;
    height: 600px;
  }
}

/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .chart1,
  .chart2,
  .chart3,
  .chart4,
  .chart5 {
    width: 100%;
    height: 400px;
  }
}

/* ukuran device yang lebih kecil */
@media (max-width: 360px) {
  .chart1,
  .chart2,
  .chart3,
  .chart4,
  .chart5 {
    height: 300px;
  }
}
